In [6]:
print("Hello Sangharsha")
print("Hello Sangharsha")
print("Hello Sangharsha")
# print("Hello Sangharsha")
# print("Hello Sangharsha")
# print("Hello Sangharsha")
# print("Hello Sangharsha")
# print("Hello Sangharsha")
# print("Hello Sangharsha")
# print("Hello Sangharsha")

Hello Sangharsha
Hello Sangharsha
Hello Sangharsha

In [7]:
#variables in PYthon
a = 4
print(a)

4

In [14]:
a = 3
print(a)
b = 55
print(b)
a = 6.2
print(a)
c = True #These are bollean
print(c)
c = False
print(c)

3
55
6.2
True
False

In [16]:
c = "Harry"
print(c)

Harry

In [18]:
e = None #non type datatype
print(e)

None

In [23]:
#typecasting #changing one datatype to another
f = "5"
print(int(f) + 1)
g = 5
print(g + 1)

6
6

In [25]:
#varaibles 
num1 = 10
num2 = 3

In [31]:
# Arithmetic Operators
print("num1 + num2 is ", num1 + num2)
print("num1 - num2 is ", num1 - num2)
print("num1 * num2 is ", num1 * num2)
print("num1 / num2 is ", num1 / num2)

num1 + num2 is  13
num1 - num2 is  7
num1 * num2 is  30
num1 / num2 is  3.3333333333333335

In [32]:
def fun1():
    print(3)

In [35]:
name = "HArry"
print(name.upper())

HARRY

In [39]:
print(name[0:3])
print(name.capitalize())
print(name.count("sa"))

HAr
Harry
0

In [40]:
name = input("Enter Your Name:")
print(name)

Enter Your Name:SAngharsha
SAngharsha

In [44]:
name = input("Enter a number:")
print(name)
print(type(name))
num = print(int(name) + 6)

Enter a number:4
4
<class 'str'>
10

In [46]:
# List
l1 = [3,3,4,5]
print(type(l1))

<class 'list'>

In [47]:
#immutable  string that do no change
# List mutable
l1 = [2,5,3,4,12,5,"Harry"]
print(l1)
l1.remove("Harry")
print(l1)

[2, 5, 3, 4, 12, 5, 'Harry']
[2, 5, 3, 4, 12, 5]

In [55]:
l1.sort()
print(l1)
l1.pop()
print(l1)
l1.clear()
print(l1)

[2, 3]
[2]
[]

In [58]:
l1 = (3,5,23,23)
print(l1.index(3))

0

In [59]:
# Tuple
# immutable
# ()

In [60]:
# Set nd Set
# ->collection of well defined objects

In [64]:
a1 = {1,4,5,2,5,4,5}
a2 = {3,5,6}
# a1.clear()
a1.pop()
print(a1)
print(a2)

{2, 4, 5}
{3, 5, 6}

In [65]:
# Dictionary
a = {}
b = {}
print(type(a))

<class 'dict'>

In [69]:
dict1 = {"Harshit": 34, "Sang": 99,"Sank":45, }
print(dict1["Sang"])

99

In [70]:
# if else 
age = int(input("Enter your age:"))
if(age > 18):
    print("Yes you ca drive")
else:
    print("No, You can go home")

Enter your age:45
Yes you ca drive

In [71]:
# if else 
age = int(input("Enter your age:"))
if(age > 18):
    print("Yes you ca drive")
elif(age == 1):
    print("You are underage")
else:
    print("No, You can go home")

Enter your age:1
You are underage

In [74]:
a = 1
match a:
    case 1:
        print("Case is 1")
    case 2:
        print("Case is 2")

Case is 1

In [75]:
for i in range(5):
    print(i+1)

1
2
3
4
5

In [76]:
a = [1,34,24234,4324]
for item in a:
    print(item)

1
34
24234
4324

In [79]:
def greetHello():
    print("Hello")
    print("Hello")
    print("Hello")
    print("Hello")
print("Executing function..")
greetHello()
print("done")

Executing function..
Hello
Hello
Hello
Hello
done

In [80]:
try:
    a =int(input("Enter your number:"))
    print(a +3)
except:
    print("Some error occured!")

Enter your number:saadfa
Some error occured!

In [82]:
try:
    a =int(input("Enter your number:"))
    print(a +3)
except Exception as e:
    print("Some error occured!",e)

Enter your number:sa
Some error occured! invalid literal for int() with base 10: 'sa'

In [83]:
# file handling
s = "Sangharsha is a good "
fp = open("test.txt","w")
fp.write(s)
fp.close

In [84]:
# # Reading of file
# s = "Sangharsha is a good "
# fp = open("test.txt","r")
# fp.write(s)
# fp.close

UnsupportedOperation: not writable

In [86]:
# OopS
class Employee:
    salary = 89
    name = "Rohan"
    def getSalary(self):
        return self.salary
rohan = Employee()
print(rohan.salary)

89

In [87]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def getSalary(self):
        return self.salary
rohan = Employee("Rohan","2343")
print(rohan.salary)
print(rohan.name)
rohan = Employee("Harry","238843")
print(rohan.salary)
print(rohan.name)

2343
Rohan
238843
Harry