In [1]:
print("Hello World")

Hello World

In [3]:
a = 10 # variable
print(a)

10

In [7]:
a = "10"
b = "Hello World"
c = 10.4
print(a,b,c)
print(type(a))

10 Hello World 10.4
<class 'str'>

In [8]:
print(type(a))

<class 'str'>

In [9]:
x = input("Enter value = ")

Enter value = 210

In [12]:
x = input("enter the value of x")
y = input("Enter the value of y")
x+y

enter the value of x50
Enter the value of y5

'505'

In [14]:
p = float(input("Entter the value of p"))
t = float(input("Enter the vallue of t"))
r = float(input("float r = "))
i = p*t*r/100
print(i)

Entter the value of p20
Enter the vallue of t04
float r = 012
9.6

In [15]:
+ - * / % // **

SyntaxError: invalid syntax (1028265948.py, line 1)

In [16]:
## functions
def hello_world():
    print("Hello World")
hello_world()

Hello World

In [17]:
def <function_name>():
    print("Hello ")
<function_name call>()

SyntaxError: invalid syntax (1032675026.py, line 1)

In [18]:
def cal():
    l = 3 #local variable kunai pani variable funcion vitra define vayo vaney local varaiable vanxa
    b = 5
    h = 7
    v = l*b*h
    print("Volume = ",v)
cal()

Volume =  105

In [19]:
l = 3 #global variable
def cal():
    b = 5
    h = 7
    v = l*b*h
    print("Volume = ",v)
cal()
print(l)

Volume =  105
3

In [20]:
# to convert loval into global
def cal():
    global l
    l = 3 #global variable
    b = 5
    h = 7
    v = l*b*h
    print("Volume = ",v)
cal()
print(l)

Volume =  105
3

In [1]:
# two or more than two function vayo vaney #globally
l = int(input("Enter the Value of l = "))
b = int(input("Enter the value of b = "))
h = int(input("Enter the value of h = "))
def volume():
    v = l*b*h
    print("Volume is = ",v)
def area():
    a = l*b;
    print("Area is = ",a)
area()
volume()

Enter the Value of l = 4
Enter the value of b = 5
Enter the value of h = 2
Area is =  20
Volume is =  40

In [2]:
# two or more than two function vayo vaney
def volume():
    l = int(input("Enter the Value of l = "))
    b = int(input("Enter the value of b = "))
    h = int(input("Enter the value of h = "))
    v = l*b*h
    print("Volume is = ",v)
def area():
    l = int(input("Enter the Value of l = "))
    b = int(input("Enter the value of b = "))
    a = l*b;
    print("Area is = ",a)
area()
volume()

Enter the Value of l = 5
Enter the value of b = 5
Area is =  25
Enter the Value of l = 6
Enter the value of b = 8
Enter the value of h = 5
Volume is =  240

In [3]:
# function with no argument and no return type
# function with argument and no return type
# function with no argument and return type
# function with argument and return type

In [5]:
# function with arguments and no return type
def cal(l,b,h):
    v = l*b*h
    print("Volume is = ",v)
    
l=3
b=4
h=9
cal(l,b,h)

Volume is =  108

In [6]:
def cal(x,y,z): #arguments
    v = x*y*z # mamthi ko x,y,z ko value use garxa
    print("Volume is = ",v)
    
l=3
b=4
h=9
cal(l,b,h) #parameter

Volume is =  108

In [7]:
# Array is denoted by []
def cal(a):
    x,y,z = a
    v = x*y*z
    print("Volume is ",v)
l=3
b=4
h=9
a = [l,b,h]
cal(a)

Volume is  108

In [10]:
# function with no argument and return type
l = int(input("Enter the Value of l = "))
b = int(input("Enter the value of b = "))
def area():
    a = l*b
    return a
area()

Enter the Value of l = 5
Enter the value of b = 5

25

In [11]:
l = int(input("Enter the Value of l = "))
b = int(input("Enter the value of b = "))
h = int(input("Enter the value of h = "))
def area():
    a = l*b
    return a
x = area()
v = x * h

Enter the Value of l = 5
Enter the value of b = 5
Enter the value of h = 5

In [13]:
for i in range(1,10,2):
    print(i,"Hello")

1 Hello
3 Hello
5 Hello
7 Hello
9 Hello

In [ ]:
bill = ""
n = int(input("ENter n = "))
for i in range(n):
    product = input("ENter product name = ")
    price = int(input("Enter Price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = bill + f"{product} {price} {quantity} {total}"

In [7]:
try:
    file = open('sanghe.txt','x')
    file.close
except:
    print("The file is already there")

The file is already there

In [11]:
file = open('sanghe.txt','r')
x = file.read()
print(x)
file.close()

1.SAnghaw
1.SAnghaw
1.SAnghaw
1.SAnghaw
1.SAnghaw
1.SAnghaw
1.SAnghaw
1.SAnghaw

In [12]:
file = open('sanghe.txt','r')
x = file.read()
print(x)
print(type(x))
file.close()

1.SAnghaw
1.SAnghaw
1.SAnghaw
1.SAnghaw
1.SAnghaw
1.SAnghaw
1.SAnghaw
1.SAnghaw
<class 'str'>

In [3]:
#csv
try:
    file = open('sanghe.csv','x')
except:
    pass

In [7]:
import pandas as pd
df = pd.read_csv('sanghe.csv')
df

   sn        name  age        add        phone
0   1  Sangharsha   22  Gerkhutar   9869759118
1   2      Bhuwan   25      Dadel   9861111111
2   3         Sam   24    Dhading  98650422219
3   4         Ram   45       Bara   9805222222
4   5         Bab   32       Daaa  98532035200

In [9]:
df.head(3)

   sn        name  age        add        phone
0   1  Sangharsha   22  Gerkhutar   9869759118
1   2      Bhuwan   25      Dadel   9861111111
2   3         Sam   24    Dhading  98650422219

In [11]:
df.tail(2)

   sn name  age   add        phone
3   4  Ram   45  Bara   9805222222
4   5  Bab   32  Daaa  98532035200

In [12]:
#come colon index

In [13]:
import pandas as pd
df = pd.read_csv('sanghe.csv',index_col= 'sn')
df

          name  age        add        phone
sn
1   Sangharsha   22  Gerkhutar   9869759118
2       Bhuwan   25      Dadel   9861111111
3          Sam   24    Dhading  98650422219
4          Ram   45       Bara   9805222222
5          Bab   32       Daaa  98532035200

In [16]:
import pandas as pd
cols = ['name','sn','add']
df = pd.read_csv('sanghe.csv',index_col = 'sn', usecols = cols)
df

          name        add
sn
1   Sangharsha  Gerkhutar
2       Bhuwan      Dadel
3          Sam    Dhading
4          Ram       Bara
5          Bab       Daaa

In [17]:
import pandas as pd
df = pd.read_csv('sanghe.csv',index_col = 'sn')
df[df['add'] == 'Kathmandu']

Empty DataFrame
Columns: [name, age, add, phone]
Index: []

In [19]:
import pandas as pd
df = pd.read_csv('sanghe.csv',index_col='sn')
df[df['age']<40]

          name  age        add        phone
sn
1   Sangharsha   22  Gerkhutar   9869759118
2       Bhuwan   25      Dadel   9861111111
3          Sam   24    Dhading  98650422219
5          Bab   32       Daaa  98532035200

In [20]:
class Hello:
    print("Hello WOrld")
obj = Hello()

Hello WOrld

In [22]:
class Hello:
    def hello():
        print("Hello World")
obj = Hello()
obj.hello()

TypeError: Hello.hello() takes 0 positional arguments but 1 was given

In [24]:
def hello():
    print("hell")
hello()

hell

In [26]:
class Hello: #class
    def hello(self): #method #self chaifunction usw garana
        
        print("hello World")
        
obj = Hello()
obj.hello()

hello World

In [27]:
# @staticmethod 
class Cal:
    def cal(self,p,t,r):
        i = p*t*r/100
        print(i)
        
p = int(input("Enter value of p"))
t = float(input("Enter b ="))
r = float(input("Enter r"))
obj = Cal()
obj.cal(p,t,r)

Enter value of p5
Enter b =8
Enter r8
3.2

In [ ]:
#self == constructoor kunai pani class vitra property or kei banauna paryo vaney reinaializze garna paryo vaney
class Cal:
    def __init__(self,p,t,r)
    def cal(self):
        i = p*t*r/100
        print(i)
        
p = int(input("Enter value of p"))
t = float(input("Enter b ="))
r = float(input("Enter r"))
obj = Cal(p,t,r)
obj.cal()